<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <!-- th:each thymleaf 문법 for each 처럼 addAttribute를 통해 넘어온 model list에 접근 -->
            <tr th:each="member : ${members}">
              <!-- getter setter를 이용해서 각 멤버 변수에 접근-->
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
